*.log
*.sh
6Polio
5HIV
10HCV
15Zika
HIV_Real
Real
debug/*
graphs/*
post_process
quast_results
results
stats/*
test
tmp/*
tmpresults*
abundance*
*.h5
*.sdsl
*.txt
placements
reachMatrix
resultsBaseline*
resultsUnitigs
Todo
*.fasta
*.fq
Versions
third-party/*
